<!DOCTYPE html>
<html>
<head>
  <title>BugBerries</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="slogan">BugBerries</div>

  <div class="center-box">
    <h1>Введите ID заказа</h1>
    <input type="text" placeholder="">
    <button>Найти</button>
  </div>
</body>
</html>